<div class="login-form-container">
    <h2 class="jumbotron">Login Form</h2>
    <form action="" class="login-form" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
      <strong *ngIf="submitMessage" class="error-message">{{submitMessage}}</strong>
     
      <mat-form-field>
        <input class="username" matInput placeholder="Enter Username" formControlName="username">
        <mat-error *ngIf="loginForm.get('username').touched && loginForm.get('username').hasError('required')">Username is Required</mat-error>
        <mat-error *ngIf="loginForm.get('username').touched && loginForm.get('username').hasError('minlength')">Username must be atleast 5 characters long</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input class="password" type="password" matInput placeholder="Enter Password" formControlName="password">
        <mat-error *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')">Password is Required</mat-error>
        <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password').hasError('minlength')">Password must be atleast 6 characters long</mat-error>
      </mat-form-field>
      <button mat-button [disabled]="loginForm.invalid">Submit</button>
    </form>
  </div>